.crash-report-actions form {
	display: inline;
	margin: 0 10px;
}

.full-report-banner {
	text-align: center;
}

.full-report-banner span {
	border-radius: 20px;
	font-size: 18px;
	padding: 10px;
}

.full-report-banner span.active {
	background-color: orangered;
}

.full-report-banner span.ignored {
	background-color: darkgrey;
}

.full-report-banner span.fixed {
	background-color: green;
}