@using CrashReports.Models
@model CrashReports.Models.ReportsIndexViewModel

@{
	ViewBag.Title = "Applications";
}

<div class="full-report-banner">
	@foreach (string app in Model.Applications)
	{
		@Html.ActionLink(app, "Application", new { appName = app})
	}
</div>
