@model CrashReports.Models.ReportModel

@{
	ViewBag.Title = "Crash Report";
	TimeZoneInfo pstTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
}

<div class="crash-report-actions">
	@using (Html.BeginForm("Delete", "Reports", new { id = Model.Id }))
	{
		<button title="Delete this log for good">Purge</button>
	}
	@using (Html.BeginForm("MarkFixed", "Reports", new { id = Model.Id }))
	{
		<button title="Mark this error as fixed">Fixed</button>
	}
	@using (Html.BeginForm("Ignore", "Reports", new { id = Model.Id }))
	{
		<button title="Ignore this error">Ignore</button>
	}

</div>

<div class="crash-report-full">
	<h4>@Model.ErrorMessage</h4>
	<p>Created: @TimeZoneInfo.ConvertTimeFromUtc(Model.Created, pstTimeZone).ToString("g")</p>
	<p>@Model.StackTrace</p>
</div>
